<div *ngIf="loading; else recipesContent" class="loading-spinner-container">
  <mat-spinner></mat-spinner>
</div>

<ng-template #recipesContent>
  <div *ngIf="userRecipes && userRecipes.length > 0"  class="host"></div>
    <div *ngFor="let recipe of userRecipes" class="recipe-card">
      <img *ngIf="recipe.img" [src]="recipe.img" alt="{{ recipe.dish }}" class="recipe-image">
      <div class="recipe-details">
      <p>Dish: {{ recipe.dish }}</p>
      <p>Category: {{ recipe.category }}</p>
      <p>{{ recipe.description }}</p>
      <p>Prep Time: {{ recipe.prepTime }}</p>
     
      <button mat-button color="primary" (click)="viewDetails(recipe.id)">View Details</button>
      <button mat-button color="warn" (click)="deleteRecipe(recipe.id)">Delete</button>
    </div>
    </div>
  


    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="paginationSettings.pageSize" [length]="userRecipesCount"
      (page)="onPageChange($event)" [pageIndex]="paginationSettings.pageNumber - 1" class="mat-paginator"
      [disabled]="loading">
    </mat-paginator>
</ng-template>
  <button mat-button color="primary" (click)="navigateToAddRecipe()">Add Recipe</button>