<div *ngIf="loading; else recipesContent" class="loading-spinner-container">
  <mat-spinner></mat-spinner>
</div>

<ng-template #recipesContent>
  <div *ngIf="recipes && recipes.length > 0"  class="host">
    <div *ngFor="let recipe of recipes" class="recipe-card">
      <img *ngIf="recipe.img" [src]="recipe.img" alt="{{ recipe.dish }}" class="recipe-image">
      <div class="recipe-details">
        <p class="recipe-title">Dish: {{ recipe.dish }}</p>
        <p class="recipe-category">Category: {{ recipe.category }}</p>
        <p class="recipe-description">{{ recipe.description }}</p>
        <p class="recipe-prep-time">Prep Time: {{ recipe.prepTime }}</p>
        <p class="recipe-created-by">Created by: {{ recipe.user.userName }}</p>
        <button mat-button color="primary" (click)="viewDetails(recipe.id)">View Details</button>
      </div>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="paginationSettings.pageSize" [length]="recipesCount"
      (page)="onPageChange($event)" [pageIndex]="paginationSettings.pageNumber - 1" class="mat-paginator"
      [disabled]="loading">
    </mat-paginator>
  </div>
</ng-template>