.authentication-card {
    width: 30%;
    margin: 0 auto;
}

.authentication-card-container {
    min-height: 100vh;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
  }