<button mat-button class="back-button" routerLink="/personal-account" routerLinkActive="active">
    Back
  </button>

<div *ngIf="loading; else recipeContent" class="loading-spinner-container">
    <mat-spinner></mat-spinner>
</div>

<ng-template #recipeContent>
    <div *ngIf="recipe" class="recipe-container">
        <div class="recipe-header">
            <img src="{{ recipe.img }}" alt="{{ recipe.dish }}" class="recipe-image">
            <div class="recipe-details">
                <p class="recipe-info"><strong>Dish:</strong> {{ recipe.dish }}</p>
                <p class="recipe-info"><strong>Category:</strong> {{ recipe.category }}</p>
                <p class="recipe-description"><strong>Description:</strong> {{ recipe.description }}</p>
                <p class="recipe-info"><strong>Prep Time:</strong> {{ recipe.prepTime }}</p>
            </div>
        </div>

        <ng-container *ngIf="recipe?.recipeIngredients && recipe?.recipeIngredients!.length > 0">
            <h3>Ingredients</h3>
            <ul>
              <li *ngFor="let recipeIngredient of recipe.recipeIngredients; let i = index">
                {{ recipeIngredient.ingredient.name }}: {{ recipeIngredient.amount }} {{ recipeIngredient.ingredient.unit }}
                <button mat-button class="edit-button"  (click)="openEditIngredientModal(i)">Edit</button>
                <button mat-button class="delete-button"  (click)="deleteIngredient(i)">Delete</button>
              </li>
            </ul>
          </ng-container>

        <ng-container *ngIf="instructions.length > 0">
            <h3>Instructions</h3>
            <ul>
                <li *ngFor="let instruction of instructions; let i = index">
                    {{ instruction.stepNumber }}: {{ instruction.description }}
                    <button mat-button class="edit-button" (click)="openEditInstructionModal(i)">Edit</button>
                    <button mat-button class="delete-button" (click)="deleteInstruction(i)">Delete</button>
                </li>
            </ul>
        </ng-container>

        <ng-container *ngIf="reviews.length > 0">
            <h3>Reviews</h3>
            <div *ngFor="let review of reviews" class="review-card">
                <p><strong>{{ review.userName }}</strong> - {{ review.rating }} stars</p>
                <p>{{ review.comment }}</p>
                <p>Date: {{ review.date | date }}</p>
            </div>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="paginationSettings.pageSize"
                [length]="reviewsCount" (page)="onReviewsPageChange($event, recipe.id)"
                [pageIndex]="paginationSettings.pageNumber - 1" class="mat-paginator" [disabled]="loading">
            </mat-paginator>
        </ng-container>

        <button mat-button class="edit-button" (click)="openEditRecipeModal()">Edit Recipe</button>
        <button mat-button class="add-button" (click)="openAddIngredientModal()">Add Ingredient</button>
        <button mat-button class="add-button" (click)="openAddInstructionModal()">Add Instruction</button>
    </div>

    <div *ngIf="!recipe" class="recipe-not-found">
        <p>Recipe not found.</p>
    </div>
</ng-template>